
.App-header {
  background-color: #D6D6D6;
  min-height: 100vh;
  margin: 0;
  font-size: calc(10px + 2vmin);
  color: white;
}


nav{
  
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 !important;
  background-color: #323031;
  
}
ul{
  list-style-type: none;
  display: inline;
}
li{
  display: inline;
}
.search{
  display: inline;
}
 .tittle{
  font-family: 'Rock Salt', arial;
  color: #DB3A34;
  font-size: calc(9px + 2vmin);
 }
 .Tdiferent{
   color: #FFC857;
 }
.publicidad{
  background-color: #DB3A34;
  height: 50vh;
}
.targets{
  display: list-item;
  width: 35vh;
  height: 50vh;
  background-color: #fff;
  display: inline-flex;
  margin: 20px;
    
}
.BoxTargets{
  text-align: -webkit-center;
  
  
  
}